Cartopy==0.21.1
certifi==2022.12.7
contourpy==1.0.7
cycler==0.11.0
distlib==0.3.6
filelock==3.9.0
fonttools==4.38.0
GDAL==3.6.3
kiwisolver==1.4.4
matplotlib==3.7.0
numpy==1.24.2
packaging==23.0
pbr==5.11.1
Pillow==9.4.0
platformdirs==3.0.0
protobuf==4.21.12
pyparsing==3.0.9
pyproj==3.4.1
pyshp==2.3.1
python-dateutil==2.8.2
pytoolconfig==1.2.5
rope==1.7.0
shapely==2.0.1
six==1.16.0
stevedore==5.0.0
virtualenv==20.20.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
